{% extends 'main/layout.html' %}

{% block title %}Акты о выполнении{% endblock %}

{% block content %}
<div  style='float:left; font-size: 11px' class="features">

    <h1>Список актов выполненнйо работы</h1>
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th scope="col">Номер акта</th>
            <th scope="col">Дата акта</th>
            <th scope="col">Статус акта</th>
            <th scope="col">Дата в период с</th>
            <th scope="col">Дата в период по</th>
            <th scope="col">Претензии к договору</th>
            <th scope="col">Дата подписи</th>
            <th scope="col">Заказчик</th>
            <th scope="col">Составитель</th>
            <th scope="col">Опции</th>

        </tr>
        </thead>
        {% for el in gruzi %}
            <tr>
                <td>{{ el.nomeract }}</td>
                <td>{{ el.dateact }}</td>
                <td>{{ el.statusact }}</td>
                <td>{{ el.dates }}</td>
                <td>{{ el.datepo }}</td>
                <td>{{ el.pretenz }}</td>
                <td>{{ el.datepodpis }}</td>
                <td>{{ el.zakazch }}</td>
                <td>{{ el.fios }}</td>
                <td><a class="btn btn-info btn-sm"><i class="fa fa-wrench"></i></a>
                  <a  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                    <a  class="btn btn-warning btn-sm"><i class="fa fa-print"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<a style="margin-left: 60px" href="" class="btn btn-info"><i class="">Добавить</i></a>


</div>

{% endblock %}