{% extends 'main/layout.html' %}

{% block title %} Добавление записи {% endblock %}
{% block content %}
    <div style='margin: auto' class="features">
        <h1>Формирование договора</h1>
        <form method="post">
            {% csrf_token %}
            <div class="addform1">
                <h6 class="h6increate">Номер договора</h6>
                {{ form.nomerdog }}<br>
                <table class="tableinadd">
  <tr>
    <th>№ п/п</th>
    <th>Наименование</th>
    <th>Цена, руб.</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Карандаш цветной</td>
    <td>20,00</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Линейка 20 см</td>
    <td>30,00</td>
  </tr>
</table>
                <h6 class="h6increate">Статус договора</h6>
                {{ form.statusdog }}<br>
                <h6 class="h6increate">Стоимость</h6>
                {{ form.stoimost }}<br>
                <h6 class="h6increate">Особые условия</h6>
                {{ form.osobusl }}<br>
                <h6 class="h6increate">Дата составления договора</h6>
                {{ form.datesostdog }}<br>
                <h6 class="h6increate">Дата расторжения договора</h6>
                {{ form.datenachdog }}<br>
                <h6 class="h6increate">Дата начала договора</h6>
                {{ form.dateokonchdog }}<br>
                <h6 class="h6increate">Дата окончания договора</h6>
                {{ form.datepodpdog }}<br>
                <h6 class="h6increate">Дата подписи договора</h6>
                {{ form.prichrast }}<br>
                <h6 class="h6increate">Причина расторжения</h6>
                {{ form.kod_sotr }}<br>
                <h6 class="h6increate">Водитель</h6>
                {{ form.kod_ts }}<br>
                <h6 class="h6increate">Транспортное средство</h6>
                {{ form.kod_ts }}<br>
            </div>
            <span>{{ error }}</span>

            <button class="btn btn-success" type=submit">Добавить</button>
            <a href="" class="btn btn-info"><i>Изменить</i></a>
            <a href="" class="btn btn-danger"><i>Удалить</i></a>
            <a href=""><button2 class='btn btn-warning'> Отмена </button2></a>

        </form>


    </div>
{% endblock %}