{% extends 'main/layout.html' %}

{% block title %} Добавление записи {% endblock %}
{% block content %}
<div style='margin: auto' class="features">
    <h1>Формирование акта выполненных работ</h1>
    <form method="post">
        {% csrf_token %}
        <div class="addform1">
            <h6 class="h6increate">Номер договора</h6>
            {{ form.nomerdog }}<br>
            <h6 class="h6increate">Номер путеовго листа</h6>
            {{ form.nomerputlist }}<br>
            <h6 class="h6increate">Дата составления путевого листа</h6>
            {{ form.datesostputlist }}<br>
            <h6 class="h6increate">Статус путевого листа</h6>
            {{ form.statusputlist }}<br>
            <h6 class="h6increate">Дата выезда</h6>
            {{ form.dateviezd }}<br>
            <h6 class="h6increate">Начальные показания одометра</h6>
            {{ form.nachpokazodo }}<br>
            <h6 class="h6increate">Дата возвращения</h6>
            {{ form.datevozvr }}<br>
            <h6 class="h6increate">Конечные показания одометра</h6>
            {{ form.konechpokazodo }}<br>
            <h6 class="h6increate">Остаток горючего при выезде</h6>
            {{ form.ostgoruchviezd }}<br>
            <h6 class="h6increate">Остаток горючего при возвращении</h6>
            {{ form.ostgoruchvozvr }}<br>

            <h6 class="h6increate">Срок путевого листа</h6>
            {{ form.srokputlist }}<br>

        </div>
        <span>{{ error }}</span>

        <button class="btn btn-success" type=submit">Добавить</button>
        <button2 class='btn btn-warning'> Отмена</button2>


    </form>


</div>
{% endblock %}