{% extends 'main/layout.html' %}

{% block title %} Добавление записи {% endblock %}
{% block content %}
    <div  style='margin: auto' class="features">
        <h1>Формирование договора</h1>
        <form method="post">
            {% csrf_token %}
            <div class="addform1">
                <h6 class="h6increate">ИНН</h6>
                {{ form.kod_sotr }}<br>
                <h6 class="h6increate">ИНН</h6>
                {{ form.daterogd }}<br>
                <h6 class="h6increate">ИНН</h6>
                {{ form.fam }}<br>
                <h6 class="h6increate">КПП</h6>
                {{ form.name }}<br>
                <h6 class="h6increate">Контактное лицо</h6>
                {{ form.otch }}<br>
                <h6 class="h6increate">Номер телефона</h6>
                {{ form.datenaim }}<br>
                <h6 class="h6increate">9</h6>
                {{ form.dateokonch }}<br>
                <h6 class="h6increate">10</h6>
                {{ form.dolgn }}<br>

            </div>
            <span>{{ error }}</span>

            <button class="btn btn-success" type=submit">Добавить</button>
            <a href="" class="btn btn-info"><i>Изменить</i></a>
            <a href="" class="btn btn-danger"><i>Удалить</i></a>
            <a href=""><button2 class='btn btn-warning'> Отмена </button2></a>

        </form>


    </div>
{% endblock %}