{% extends 'main/layout.html' %}

{% block title %} Добавление записи "Транспорное средство" {% endblock %}
{% block content %}
<div style='margin: auto' class="features">
    <h1>Добавление записи "Транспорное средство"</h1>
    <form method="post">
        {% csrf_token %}
        <div class="addform1">
            <h6 class="h6increate">Код ТС</h6>
            {{ form.kod_ts }}<br>
            <h6 class="h6increate">Гос номер</h6>
            {{ form.gosnomer }}<br>
            <h6 class="h6increate">Модель</h6>
            {{ form.naimmodel }}<br>
            <h6 class="h6increate">Марка</h6>
            {{ form.naimmarka }}<br>
            <h6 class="h6increate">Вид ТС</h6>
            {{ form.naimvidts }}<br>
            <h6 class="h6increate">Тип кузова</h6>
            {{ form.tipkuzova }}<br>
            <h6 class="h6increate">Габариты кузова: Длина, метр</h6>
            {{ form.gabdlina }}<br>
            <h6 class="h6increate">Габариты кузова: Ширина, метр</h6>
            {{ form.gabshir }}<br>
            <h6 class="h6increate">Габариты кузова: Высота, метр</h6>
            {{ form.gabvis }}<br>
            <h6 class="h6increate">Максимально допустимая масса, тонн</h6>
            {{ form.maxdopustmassa }}<br>
            <h6 class="h6increate">Способ погрузки</h6>
            {{ form.sposobpogr }}<br>

        </div>
        <span>{{ error }}</span>

        <button class="btn btn-success" type=submit">Добавить</button>
        <button2 class='btn btn-warning'> Отмена</button2>


    </form>


</div>
{% endblock %}