{% extends 'main/layout.html' %}

{% block title %}Заявки{% endblock %}

{% block content %}
<div class="features">

    <h1>Списко договоров</h1>
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">8</th>
            <th scope="col">9</th>
            <th scope="col">10</th>
            <th scope="col">11</th>
            <th scope="col">12</th>

        </tr>
        </thead>
        {% for el in gruzi %}
            <tr>
                <td>{{ el.nomerdog }}</td>
                <td>{{ el.statusdog }}</td>
                <td>{{ el.stoimost }}</td>
                <td>{{ el.osobusl }}</td>
                <td>{{ el.datesostdog }}</td>
                <td>{{ el.daterastdog }}</td>
                <td>{{ el.datenachdog }}</td>
                <td>{{ el.dateokonchdog }}</td>
                <td>{{ el.datepodpdog }}</td>
                <td>{{ el.prichrast }}</td>
                <td>{{ el.kod_sotr }}</td>
                <td>{{ el.kod_ts }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<a href="" class="btn btn-info"><i class="">Добавить</i></a></li>
<a href="" class="btn btn-info"><i class="">Изменить</i></a></li>
<a href="" class="btn btn-danger"><i class="">Удалить</i></a></li>

</div>

{% endblock %}