{% extends 'main/layout.html' %}

{% block title %}Договора{% endblock %}

{% block content %}
<div  style='float:left; font-size: 12px' class="features">

    <h1>Список договоров</h1>
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th scope="col">Номер договора</th>
            <th scope="col">Статус договора</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Дата составления договора</th>
            <th scope="col">Дата расторжения договора</th>
            <th scope="col">Дата начала договора</th>
            <th scope="col">Дата окончания договора</th>
            <th scope="col">Водитель</th>
            <th scope="col">Номер заявки</th>
            <th scope="col">Дата заявки</th>
            <th scope="col">Опции</th>

        </tr>
        </thead>
        {% for el in gruzi %}
            <tr>
                <td>{{ el.nomerdog }}</td>
                <td>{{ el.statusdog }}</td>
                <td>{{ el.stoimost }}</td>
                <td>{{ el.datesostdog }}</td>
                <td>{{ el.daterastdog }}</td>
                <td>{{ el.datenachdog }}</td>
                <td>{{ el.dateokonchdog }}</td>
                <td>{{ el.fiosotr }}</td>
                <td>{{ el.nomerzai }}</td>
                <td>{{ el.datezai }}</td>
                <td><a class="btn btn-info btn-sm"><i class="fa fa-wrench"></i></a>
                  <a  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                    <a  class="btn btn-warning btn-sm"><i class="fa fa-print"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<a style="margin-left: 50px" href="" class="btn btn-info"><i class="">Добавить</i></a>


</div>

{% endblock %}