{% extends 'main/layout.html' %}

{% block title %}Справочник должностей{% endblock %}

{% block content %}
<div style='float:left;' class="features">

    <h1>Справочник должностей</h1>
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th scope="col">Наименование должности</th>
            <th scope="col">Опции</th>
        </tr>
        </thead>
        {% for el in gruzi %}
            <tr>
                <td>{{ el.naimdolgn }}</td>
                <td><a class="btn btn-info btn-sm"><i class="fa fa-wrench"></i></a>
                  <a  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                </td>

            </tr>
        {% endfor %}
    </table>
</div>
<a style="margin-left: 50px" href="{% url 'adddolgn'%}" class="btn btn-info"><i class="">Добавить</i></a></li>


</div>

{% endblock %}