{% extends 'main/layout.html' %}

{% block title %}Счет на оплату{% endblock %}

{% block content %}
<div style='float:left; font-size: 10px' class="features">

    <h1>Счета на оплату</h1>
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th scope="col">Номер договора</th>
            <th scope="col">Номер счета</th>
            <th scope="col">Дата составления счета</th>
            <th scope="col">Статус счета</th>
            <th scope="col">Номер счета получателя</th>
            <th scope="col">Сумма, рублей</th>
            <th scope="col">Получатель</th>
            <th scope="col">Заказчик</th>
            <th scope="col">Банк</th>
            <th scope="col">Счет банка</th>
            <th scope="col">БИК банка</th>
            <th scope="col">Дата подписи</th>
            <th scope="col">Составил</th>


        </tr>
        </thead>
        {% for el in gruzi %}
            <tr>
                <td>{{ el.nomerdog }}</td>
                <td>{{ el.nomerschet }}</td>

                <td>{{ el.dateschet }}</td>
                <td>{{ el.statusschet }}</td>
                <td>{{ el.nomerschetpoluch }}</td>
                <td>{{ el.summa }}</td>
                <td>{{ el.poluchatel }}</td>
                <td>{{ el.zakazch }}</td>
                <td>{{ el.bank }}</td>
                <td>{{ el.schetbanka }}</td>
                <td>{{ el.bik }}</td>
                <td>{{ el.datepodpisschetopl }}</td>
                <td>{{ el.sostavil }}</td>
                <td><a  class="btn btn-info btn-sm" href=""><i class="fa fa-wrench"></i></a>
                  <a  class="btn btn-danger btn-sm" href=""><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<a style="margin-left: 60px" href="{% url 'addschetopl'%}" class="btn btn-info"><i class="">Добавить</i></a></li>


</div>

{% endblock %}