{% extends 'main/layout.html' %}

{% block title %}Сотрудники{% endblock %}

{% block content %}
<div style='float:left;' class="features">

    <h1>Список сотрудников</h1>
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th scope="col">Наименование груза</th>
            <th scope="col">Единица измерения</th>
            <th scope="col">Опции</th>

        </tr>
        </thead>
        {% for el in gruzi %}
            <tr>
                <td>{{ el.naimgruza }}</td>
                <td>{{ el.edizm }}</td>
                <td><a class="btn btn-info btn-sm"><i class="fa fa-wrench"></i></a>
                  <a  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<a style="margin-left: 50px" href="" class="btn btn-info"><i class="">Добавить</i></a></li>
</div>

{% endblock %}