{% extends 'main/layout.html' %}

{% block title %}ТС{% endblock %}

{% block content %}
<div style='float:left;' class="features">

    <h1>Справочник транспортных средств</h1>
    <table id="table_id" class="display">
        <thead>
        <tr>

            <th scope="col">Гос номер</th>
            <th scope="col">Модель</th>
            <th scope="col">Марка</th>
            <th scope="col">Вид ТС</th>
            <th scope="col">Тип кузова</th>
            <th scope="col">Габариты кузова: Длина, метр</th>
            <th scope="col">Габариты кузова: Ширина, метр</th>
            <th scope="col">Габариты кузова: Высота, метр</th>
            <th scope="col">Максимально допустимая масса, тонн</th>
            <th scope="col">Способ погрузки</th>

            <th scope="col">Опции</th>
        </tr>
        </thead>
        {% for el in gruzi %}
            <tr>

                <td>{{ el.gosnomer }}</td>
                <td>{{ el.naimmodel }}</td>
                <td>{{ el.naimmarka }}</td>
                <td>{{ el.naimvidts }}</td>
                <td>{{ el.tipkuzova }}</td>
                <td>{{ el.gabdlina }}</td>
                <td>{{ el.gabshir }}</td>
                <td>{{ el.gabvis }}</td>
                <td>{{ el.maxdopustmassa }}</td>
                <td>{{ el.sposobpogr }}</td>
                <td><a  class="btn btn-info btn-sm" href=""><i class="fa fa-wrench"></i></a>
                  <a  class="btn btn-danger btn-sm" href=""><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<a style="margin-left: 60px" href="{% url 'addtrsredstvo'%}" class="btn btn-info"><i class="">Добавить</i></a></li>
</div>

{% endblock %}