{% extends 'main/layout.html' %}

{% block title %}Заявки{% endblock %}

{% block content %}
<div style='float:left; font-size: 10px'' class="features">

    <h1>Список заявок</h1>
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th scope="col">Номер заявки</th>
            <th scope="col">Дата заявки</th>
            <th scope="col">Грузоотправитель</th>
            <th scope="col">Грузополучатель</th>
            <th scope="col">Адрес отправителя</th>
            <th scope="col">Адрес получателя</th>
            <th scope="col">Дата погрузки</th>
            <th scope="col">Дата разгрузки</th>
            <th scope="col">Статус заявки</th>
            <th scope="col">Заказчик</th>
            <th scope="col">Наименование груза</th>
            <th scope="col">Опции</th>

        </tr>
        </thead>
        {% for el in gruzi %}
            <tr>
                <td>{{ el.nomerzai }}</td>
                <td>{{ el.datezai }}</td>
                <td>{{ el.gruzopr }}</td>
                <td>{{ el.gruzpoluch }}</td>
                <td>{{ el.adr_gruzopr }}</td>
                <td>{{ el.adr_gruzpoluch }}</td>
                <td>{{ el.datepogr }}</td>
                <td>{{ el.daterazgr }}</td>
                <td>{{ el.statuszai }}</td>
                <td>{{ el.zakazch }}</td>
                <td>{{ el.naimgruza }}</td>
                <td><a  class="btn btn-info btn-sm" href=""><i class="fa fa-wrench"></i></a>
                  <a  class="btn btn-danger btn-sm" href=""><i class="fa fa-trash"></i></a>
                  <a  class="btn btn-success btn-sm" href=""><i class="fa fa-plus"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<a style="margin-left: 50px" href="" class="btn btn-info"><i class="">Добавить</i></a></li>


</div>

{% endblock %}