{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}


{% block content %}
      <div class="features">
        <h1>Про нас</h1>
        <p>Nordtrans уже более 20 лет на рынке грузоперевозок. Компания имеет собственный парк магистральных тягачей с полуприцепами, оборудоваными системой слежения Глонасс.
Мы предоставляем транспорт в день обращения!
            <p>НАШИ ВОЗМОЖНОСТИ:</p>
<p>1 Предоставление транспорта в день заказа</p>
<p>2 Организация доставки большого объема груза</p>
<p>3 Экспедирование груза</p>
<p>4 Доставка от двери до двери</p>
<p>5 Страхование груза</p>
<p>6 Предоставление транспорта на постоянной основе</p>
<p>7 Доставка сборных грузов из Москвы, СПб в Архангельск, Северодвинск от 3 до 5 дней</p>
<p>8 Любая форма оплаты после доставки груза</p>
<p>9 Индивидуальный подход к клиентам</p></p>
        <button class="btn btn-warning">Далее</button>
    </div>
{% endblock %}
