
{% extends 'main/layout.html' %}

{% block title %}Договора{% endblock %}

{% block content %}
<div  style='float:left; font-size: 12px' class="features">

    <h1 style="margin-left: -20px">Главная</h1>
    <h3>Список текущих договоров</h3>
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th scope="col">Номер договора</th>
            <th scope="col">Статус договора</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Дата составления договора</th>
            <th scope="col">Дата расторжения договора</th>
            <th scope="col">Дата начала договора</th>
            <th scope="col">Дата окончания договора</th>
            <th scope="col">Водитель</th>
            <th scope="col">Номер заявки</th>
            <th scope="col">Дата заявки</th>
        </tr>
        </thead>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
    </table>
</div>



</div>

{% endblock %}