{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
   <div class="features">
        <h1>{{ title }}</h1>
        <p>Грузоперевозки — это процесс, вследствие которого совершается перемещение (транспортировка) из одного места в другое каких-либо объектов с помощью транспорта. За всё время существования человечества можно выделить три революции в развитии грузоперевозок, и на подходе четвертая.</p>
        <button class="btn btn-warning">Далее</button>

    </div>


{% endblock %}