{% load static %}
<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>

    <aside>
        <div class="nav">
            <h7>ИП"Nordtrans"</h7>
            <h3>Навигация</h3>
        </div>
        <ul>
           <a href=""><li><i class="fas fa-house-damage mr-2"></i>Главная</li></a>
           <a href="{% url 'dogovor' %}"><li><i class="fa fa-book mr-2"></i>Договора</li></a>
           <a href="{% url 'zaiavka' %}"><li><i class="fas fa-newspaper mr-2"></i>Заявки</li></a>
           <a href="{% url 'zaiavka' %}"><li><i class="fa fa-address-book mr-2"></i>Участники</li></a>

            <div class="dropdown">
                <span>Справочники</span>
                <div class="dropdown-content">
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Транспортные средства</li></a></p>
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Сотрудники</li></a></p>
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Должности</li></a></p>
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Грузы</li></a></p>
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Марки тс</li></a></p>
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Модели тс</li></a></p>
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Организации</li></a></p>
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Типы груза</li></a></p>
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Товар</li></a></p>
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Виды характеристики тс</li></a></p>
                    <p><a href=""><li><i class="fa fa-bookmark mr-2"></i>Виды тс</li></a></p>
                </div>
            </div>
        </ul>
    </aside>
    <main>
    {% block content %}
    {% endblock %}
    </main>
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<script src="{% static 'main/js/popper.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script src="{% static 'main/js/js.js' %}"></script>
</body>
</html>